@media (min-width: 425px) {

@charset "UTF-8";
/* CSS Document */
* {
	box-sizing: border-box;
}

/*LOGO ANIMATION*/
.logo img {
	z-index: -1;
	text-align: left;
	display: block;
    margin-left: auto;
    margin-right: auto;
	  position: relative;
  -webkit-animation-name: logo;  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 3s;  /* Safari 4.0 - 8.0 */  
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation-name: logo;
  animation-duration: 3s;  
  animation-fill-mode: forwards;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes logo {
  from {top: -500px;}
  to {top: 30px;}
}
@keyframes logo {
  from {top: -500px;}
  to {top: 30px;}
}

/*HEADER*/
.header {
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	/*text-shadow: 4px 2px 8px rgb(116,240,252);*/
}
body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
}
#myVideo {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	transform: translateX(-50%) translateY(-50%);
}
.content {
	position: fixed;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	width: 100%;
	padding: 10px;
}
.content p {
	text-indent: 20px;
}

/*NAVIGATION BAR*/
ul {
	z-index: +1;
	font-family: 'Raleway', sans-serif;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
li {
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: #111;
	color: #0FA0CE;
}

/* Dropdown Button */
.dropbtn {
  color: white;
  font-size: 16px;
  border: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  position: fixed;
  display: none;
  min-width: 160px;
  z-index:inherit;
  background-color: #333;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display:block;
	color: white;
	}
	
/*ICONS*/
.social {
	width: 50px;
	height: 50px;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  width: 200px;
  height: 38px;
  padding: 0 30px;
  color: white;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: rgb(116,240,252);
  border-color: rgb(116,240,252);
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
	border-color: #1EAEDB; }
}

/* Smaller than mobile */
@media (max-width: 450px) {

	@charset "UTF-8";}
/* CSS Document */
* {
	box-sizing: border-box;
}

/*LOGO ANIMATION*/
.logo img {
	z-index: -1;
	text-align: left;
	display: block;
    margin-left: auto;
    margin-right: auto;
	  position: relative;
  -webkit-animation-name: logo;  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 3s;  /* Safari 4.0 - 8.0 */  
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation-name: logo;
  animation-duration: 3s;  
  animation-fill-mode: forwards;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes logo {
  from {top: -500px;}
  to {top: 30px;}
}
@keyframes logo {
  from {top: -500px;}
  to {top: 30px;}
}

/*HEADER*/
.header {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	/*text-shadow: 4px 2px 8px rgb(116,240,252);*/
}
body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
}
#myVideo {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	transform: translateX(-50%) translateY(-50%);
}
.content {
	position: fixed;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	width: 100%;
	padding: 10px;
}
.content p {
	text-indent: 20px;
}

/*NAVIGATION BAR*/
ul {
	/*position: fixed;*/ /* Set the navbar to fixed position */
	width: 100%;
	z-index: +2;
	font-family: 'Raleway', sans-serif;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	font-size: .75em;
}
li {
	/*float: left;*/
	text-align: center;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: #111;
	color: rgb(116,240,252);
}

/* Dropdown Button */
.dropbtn {
  color: white;
  /*padding: 14px;
  font-size: 16px;*/
  border: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  position: fixed;
  display: none;
  min-width: 160px;
  z-index:inherit;
  background-color: #333;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display:block;
	color: white;
	}
	}
/*ICONS*/
.social {
	width: 50px;
	height: 50px;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  width: 200px;
  height: 38px;
  padding: 0 30px;
  color: white;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: rgb(116,240,252);
  border-color: rgb(116,240,252);
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
	border-color: #1EAEDB; }

